In [1]:
import pandas as pd

In [2]:
mi_lista = [1,2,3,4]
mi_serie = pd.Series([1,2,3,4], index=['Maria','Pedro','Jorge','Luis'])

In [3]:
mi_serie

Maria    1
Pedro    2
Jorge    3
Luis     4
dtype: int64

**Acceso a elementos**

In [4]:
mi_serie['Luis']

4

**Acceso avazado**

In [5]:
mi_serie[:3]
# Para estos casos lo que va antes de los ":" es 
# el inicio de la selección y lo que va luego es 
# el final de la selección.

Maria    1
Pedro    2
Jorge    3
dtype: int64

# **DataFrames**

**Creando desde un diccionario**

In [26]:
data_dict = {"Nombre":["Juan", "María", "Pedro"],
             "Edad":[23,36,43],
             "Ciudad":["Bogotá", "Buenos Aires", "Montevideo"]}

In [30]:
personas = pd.DataFrame(data_dict)

**Desde un CSV - desde Colab**

In [16]:
## from google.colab import files
## uploaded = files.upload()

In [17]:
## import io
## df = pd.read_csv(io.BytesIO(uploaded['winequality-red.csv']))
## print(df)

**Leer desde desktop**

In [17]:
# Importar con ANACONDA y Jupyter Notebook
df = pd.read_csv('winequality-red.csv')
print(df)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

#### Acceso a columnas

In [10]:
df[['pH']]
# Con corchete simple [] se trae como serie
# Con corchete doble [[]] trae como dataframe

        pH
0     3.51
1     3.20
2     3.26
3     3.16
4     3.51
...    ...
1594  3.45
1595  3.52
1596  3.42
1597  3.57
1598  3.39

[1599 rows x 1 columns]

**Acceso a filas**

In [13]:
df[['alcohol', 'quality']]

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 2 columns]

In [14]:
df.loc[4]
# Trae los valores de la fila que se llama []

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: 4, dtype: float64

In [21]:
df.iloc[4]
# Accede a la posición tal []

fixed acidity            7.4000
volatile acidity         0.7000
citric acid              0.0000
residual sugar           1.9000
chlorides                0.0760
free sulfur dioxide     11.0000
total sulfur dioxide    34.0000
density                  0.9978
pH                       3.5100
sulphates                0.5600
alcohol                  9.4000
quality                  5.0000
Name: 4, dtype: float64

**Añadir fila**

In [35]:
print(personas.head())

  Nombre  Edad        Ciudad
0   Juan    23        Bogotá
1  María    36  Buenos Aires
2  Pedro    43    Montevideo

In [43]:
personas.loc[2]

Nombre         Pedro
Edad              43
Ciudad    Montevideo
Name: 2, dtype: object

In [45]:
personas.loc[len(personas)] = ['Oscar',30,'Guadalajara']
print(personas)

  Nombre  Edad        Ciudad
0   Juan    23        Bogotá
1  María    36  Buenos Aires
2  Pedro    43    Montevideo
3  Oscar    30   Guadalajara
4  Oscar    30   Guadalajara

**Añadir columnas**

In [50]:
personas['Pais']=['Colombia','Aregintina','Uruguay','Mexico','Mexico']

In [57]:
print(personas.head())

  Nombre  Edad        Ciudad        Pais
0   Juan    23        Bogotá    Colombia
1  María    36  Buenos Aires  Aregintina
2  Pedro    43    Montevideo     Uruguay
3  Oscar    30   Guadalajara      Mexico
4  Oscar    30   Guadalajara      Mexico

**Eliminar columnas**

In [58]:
personas.drop(columns = ['Pais'])

  Nombre  Edad        Ciudad
0   Juan    23        Bogotá
1  María    36  Buenos Aires
2  Pedro    43    Montevideo
3  Oscar    30   Guadalajara
4  Oscar    30   Guadalajara

In [18]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

**Filtros**

In [22]:
df['quality'] >5

0       False
1       False
2       False
3        True
4       False
        ...
1594    False
1595     True
1596     True
1597    False
1598     True
Name: quality, Length: 1599, dtype: bool

In [23]:
df[df['quality'] >5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
16,8.5,0.28,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
19,7.9,0.32,0.51,1.8,0.341,17.0,56.0,0.99690,3.04,1.08,9.2,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1595,5.9,0.55,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.51,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1598,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [33]:
df[(df['pH'] >3.5) & (df['quality'] >5)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
77,6.8,0.785,0.00,2.4,0.104,14.0,30.0,0.99660,3.52,0.55,10.7,6
95,4.7,0.600,0.17,2.3,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,6
142,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
144,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
149,8.2,0.400,0.44,2.8,0.089,11.0,43.0,0.99750,3.53,0.61,10.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1573,6.0,0.580,0.20,2.4,0.075,15.0,50.0,0.99467,3.58,0.67,12.5,6
1577,6.2,0.700,0.15,5.1,0.076,13.0,27.0,0.99622,3.54,0.60,11.9,6
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6

In [36]:
df.shape

(1599, 12)

In [40]:
## Para guardar la info de columnas y filas.
rows, cols = df.shape

In [42]:
## Para extraer una muestra aleatoria
df.sample(3)
## df.head() Para las primeras filas
## df.tail() Para las últimas filas

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
253,7.7,0.775,0.42,1.9,0.092,8.0,86.0,0.9959,3.23,0.59,9.5,5
478,9.6,0.680,0.24,2.2,0.087,5.0,28.0,0.9988,3.14,0.60,10.2,5
1580,7.4,0.350,0.33,2.4,0.068,9.0,26.0,0.9947,3.36,0.60,11.9,6

In [43]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [47]:
## Modificar una celda, dos formas:
df.loc[3, 'alcohol'] = 20
df.loc[3]['alcohol'] = 20

In [48]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5